<div class="bar bar-header bar-light">
  <h1 class="title">bar-positive</h1>
  <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <button class="button icon-left ion-home">Home</button>

</div>
<div class="content scroll-content scroll ionic-scroll has-header has-tabs">
  {{outlet}}
  opa
  <button class="button button-outline button-positive">
  Outlined Button
</button>
<button class="button">
  Default
</button>

<button class="button button-light">
  button-light
</button>

<button class="button button-stable">
  button-stable
</button>

<button class="button button-positive">
  button-positive
</button>

<button class="button button-calm">
  button-calm
</button>

<button class="button button-balanced">
  button-balanced
</button>

<button class="button button-energized">
  button-energized
</button>

<button class="button button-assertive">
  button-assertive
</button>

<button class="button button-royal">
  button-royal
</button>

<button class="button button-dark">
  button-dark
</button>
</div>

<div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>